body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #e6faff;
}

.form-source-report {
  text-align: center;
  vertical-align: center;
  max-width: 500px;
  padding: 15px;
  margin: 0 auto;
}
.form-source-report .form-signin-heading,
.form-source-report .checkbox {
  margin-bottom: 10px;
}
.form-source-report.checkbox {
  font-weight: normal;
}
.form-source-report .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-source-report.form-control:focus {
  z-index: 2;
}

.form-source-report input[type="text"] {
  vertical-align: center;
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin: auto;

}

.container {
  vertical-align: middle;
  text-align: center;
}

.btn {
  width: 100px;
  height: 40px;
}

.buttonContainer{
  vertical-align: middle;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 15px;
  width:400px;
}

.sr-only {
  text-align: center;
}

.g-signin2 {
  margin-left: 50px;
}

#btnSave {
  display: inline-block;
  vertical-align: bottom ! important;
  margin-left: 20px;
}


#btnCancel {
  display: inline-block;
  vertical-align: bottom ! important;
  margin-right: 20px;
}

img {
    width: 55px;
    height: 90px;
}

input[type="radio"] {
  width: 1.5em;
  height: 1.5em;
  display:inline;
}



