<!DOCTYPE html>


<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <html lang = "en">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name = 'description' content = "CheckIn Website">
    <meta name = 'author' content = "99 Lines But a Bug Ain't One">

    <title>Water Reporter</title>

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans">

    <!-- JS -->
    <script src="../js/jquery.js"></script>
    <script src="../js/bootstrap.js"></script>

    <!-- OUR Styles -->
    <link rel="stylesheet" type="text/css" href="../css/dashboard.css" />

</head>




<body>


    <!-- NAVBAR -->

    <div id="wrapper">
        <nav class="navbar navbar-inverse navbar-fixed-top" role = "navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <div  class="navbar-brand" href = "/dashboard" style = "color: #FFF; height: 90px">
                        <img src="../img/water_logo.png" />
                        <h1> Water Reporter </h1>
                    </div>

                </div>

            </div>
        </nav>

        <!-- /. NAV TOP  -->
        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
                    <li>
                        <a href="#"><i class="fa fa-home fa-fw" aria-hidden="true"></i>&nbsp;Home</a>
                    </li>

                    <li>
                        <a href="/profile"> <i class = "fa fa-user-circle fa-fw" aria-hidden="true"></i>&nbsp;Edit Profile </a>
                    </li>

                    <li>
                        <a href="/submitSourceReport"><i class="fa fa-upload fa-fw" aria-hidden="true"> </i>&nbsp;Submit Source Report</a>
                    </li>
                    <li>
                        <a href="/submitPurityReport"><i class="fa fa-upload fa-fw" aria-hidden="true"> </i>&nbsp;Submit Purity Report</a>
                    </li>

                    <li>
                        <a href="/viewReport"><i class="fa fa-file fa-fw" aria-hidden="true"> </i>&nbsp;View Reports</a>
                    </li>

                    <li>
                        <a href="/historicalReportInformation"><i class="fa fa-area-chart fa-fw" aria-hidden="true"> </i>&nbsp;View Historical Report</a>
                    </li>

                    <li>
                        <a href="/" type = "reset"> <i class="fa fa-sign-out fa-fw" aria-hidden="true"> </i>&nbsp;Log Out </a>
                    </li>
                </ul>
            </div>

        </nav>
        <!-- /. NAV SIDE  -->

        <!-- MAIN PAGE -->
        <div id="page-wrapper">
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                        <h2>Manager Home</h2>
                        <h5 style="width: 75%"> Welcome to your Manager Home Page. Here you can see submit and view water source reports, submit water purity report, view water source locations, and view historical reports. </h5>
                    </div>

                    <div class="col-lg-6 col-md-6">

                        <h4>Water Source Locations </h4>


                    </div>
                </div>
            </div>
            <!-- /. PAGE INNER  -->
        </div>
        <!-- /. PAGE WRAPPER  -->

    </div>

    <!-- Footer -->
    <div class="footer">

        <div class="row">
            <div class="col-lg-12">
                &copy; Water Reporter Services Group
            </div>
        </div>
    </div>

</body>
</html>