<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">


    <title> Profile Information </title>

    <!-- Bootstrap core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!--<link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">-->

    <!-- Custom styles for this template -->
    <link href="../css/profile.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

    <div id="wrapper">
        <nav class="navbar navbar-inverse navbar-fixed-top" role = "navigation">
            <div class="container-fluid">
                <div class="navbar-header">

                    <div  class="navbar-brand" href = "/dashboard" style = "color: #FFF; height: 90px">
                        <img src="../img/water_logo.png" />
                        <h1> Water Reporter </h1>
                    </div>

                </div>

            </div>
        </nav>

    </div>

    <div class="container">
        <img src="../img/user.png" />

        <form action="edit_profile" method="post" class="form-profile">
            <h2 class="form-profile-heading" font-size: 18px;> Edit Your Profile </h2>

            <label for="address" class="sr-only"> Address </label>
            <input type="text" id="address" class="form-control" placeholder="Address" required>

            <br>

            <h3> Select User Type </h3>

            <input type="radio" name="userType" id="user" value="user"/>
            <label for="user"> User </label>

            <input type="radio" name="userType" id="worker" value="worker"/>
            <label for="worker"> Worker </label>

            <input type="radio" name="userType" id="manager" value="manager"/>
            <label for="manager"> Manager </label>

            <input type="radio" name="userType" id="admin" value="admin"/>
            <label for="admin"> Admin </label>

            <br>

        </form>

        <div class = "buttonContainer">

                <a href="javascript:history.back()" id = "btnCancel" class="btn btn-lg btn-danger btn-block" type = "reset" > Cancel </a>

                <button class="btn btn-lg btn-primary btn-block" id = "btnSave" type="submit">Save</button>

        </div>

    </div>  <!-- /container -->

</body>
</html>
