<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">


    <title> Source Report Information </title>

    <!-- Bootstrap core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!--<link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">-->

    <!-- Custom styles for this template -->
    <link href="../css/purityReport.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

    <div id="wrapper">
        <nav class="navbar navbar-inverse navbar-fixed-top" role = "navigation">
            <div class="container-fluid">
                <div class="navbar-header">

                    <div  class="navbar-brand" href = "/dashboard" style = "color: #FFF; height: 90px">
                        <img src="../img/water_logo.png" />
                        <h1> Water Reporter </h1>
                    </div>

                </div>

            </div>
        </nav>


<div class="container">

    <div class="table_responsive" style="margin-top:50px;">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Reporter Name</th>
                    <th>Time</th>
                    <th>Water Type</th>
                    <th>Water Condition</th>
                    <th>Location (Lat, Long)</th>
                    <th>Report Number</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>Anthony D'Achille</td>
                    <td>25 April, 2017</td>
                    <td>Lake</td>
                    <td>Treatable-Clear</td>
                    <td>41.40338, 2.17403></td>
                    <td>56734</td>
                </tr>
                <tr>
                    <td>Kathy Tran</td>
                    <td>21 April, 2017</td>
                    <td>Bottled</td>
                    <td>Potable</td>
                    <td>21.23468, -64.23829></td>
                    <td>56733</td>
                </tr>
                <tr>
                    <td>Cliff Panos</td>
                    <td>20 April, 2017</td>
                    <td>Stream</td>
                    <td>Treatable-Muddy</td>
                    <td>62.34523, 52.18913></td>
                    <td>56732</td>
                </tr>
                <tr>
                    <td>Daniel Becker</td>
                    <td>8 April, 2017</td>
                    <td>Well</td>
                    <td>Potable</td>
                    <td>-52.73056, 7.34982></td>
                    <td>56731</td>
                </tr>
                <tr>
                    <td>Bryan Zhang</td>
                    <td>2 January, 2017</td>
                    <td>Lake</td>
                    <td>Treatable-Clear</td>
                    <td>57.32913, -45.38304></td>
                    <td>56730</td>
                </tr>
                <tr>
                    <td>John Doe</td>
                    <td>2 December, 2016</td>
                    <td>Waterfall</td>
                    <td>Waste</td>
                    <td>-32.48596, -3.82043></td>
                    <td>56729</td>
                </tr>
            </tbody>
        </table>
    </div>


</div>  <!-- /container -->


</body>
</html>
