<!DOCTYPE html>


<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <html lang = "en">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name = 'description' content = "CheckIn Website">
    <meta name = 'author' content = "99 Lines But a Bug Ain't One">

    <title>Water Reporter</title>

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans">

    <!-- JS -->
    <script src="../js/jquery.js"></script>
    <script src="../js/bootstrap.js"></script>

    <!-- OUR Styles -->
    <link rel="stylesheet" type="text/css" href="../css/dashboard.css" />

    <style>
         #map {
           width: 800px;
           height: 800px;

         }
    </style>

</head>




<body>


    <!-- NAVBAR -->

    <div id="wrapper">
        <nav class="navbar navbar-inverse navbar-fixed-top" role = "navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <div  class="navbar-brand" href = "/dashboard" style = "color: #FFF; height: 90px">
                        <img src="../img/water_logo.png" />
                        <h1> Water Reporter </h1>
                    </div>

                </div>

            </div>
        </nav>

        <!-- /. NAV TOP  -->
        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
                    <li>
                        <a href="#"><i class="fa fa-home fa-fw" aria-hidden="true"></i>&nbsp;Home</a>
                    </li>

                    <li>
                        <a href="/profile"> <i class = "fa fa-user-circle fa-fw" aria-hidden="true"></i>&nbsp;Edit Profile </a>
                    </li>

                    <li>
                        <a href="/submitSourceReport"><i class="fa fa-upload fa-fw" aria-hidden="true"> </i>&nbsp;Submit Source Report</a>
                    </li>
                    <li>
                        <a href="/submitPurityReport"><i class="fa fa-upload fa-fw" aria-hidden="true"> </i>&nbsp;Submit Purity Report</a>
                    </li>

                    <li>
                        <a href="/viewReport"><i class="fa fa-file fa-fw" aria-hidden="true"> </i>&nbsp;View Reports</a>
                    </li>

                    <li>
                        <a href="/" type = "reset"> <i class="fa fa-sign-out fa-fw" aria-hidden="true"> </i>&nbsp;Log Out </a>
                    </li>
                </ul>
            </div>

        </nav>
        <!-- /. NAV SIDE  -->

        <!-- MAIN PAGE -->
        <div id="page-wrapper">
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                        <h2>Worker Home</h2>
                        <h5 style="width: 75%"> Welcome to your Worker Home Page. Here you can see submit and view water source reports, submit water purity report, and view water source locations. </h5>
                    </div>

                    <div class="col-lg-6 col-md-6">

                        <h4>Water Source Locations </h4>

                        <div id="map"></div>

                        <script src="https://cdn.firebase.com/js/client/2.3.2/firebase.js"></script>
                        <script>
                          /**
                          * Reference to Firebase database.
                          * @const
                          */
                          var firebase = new Firebase('https://cs2340-cb649.firebaseio.com/');

                          /**
                          * Data object to be written to Firebase.
                          */
                          var data = {
                            sender: null,
                            timestamp: null,
                            lat: null,
                            lng: null
                          };

                          function makeInfoBox(controlDiv, map) {
                            // Set CSS for the control border.
                            var controlUI = document.createElement('div');
                            controlUI.style.boxShadow = 'rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px';
                            controlUI.style.backgroundColor = '#fff';
                            controlUI.style.border = '2px solid #fff';
                            controlUI.style.borderRadius = '2px';
                            controlUI.style.marginBottom = '22px';
                            controlUI.style.marginTop = '10px';
                            controlUI.style.textAlign = 'center';
                            controlDiv.appendChild(controlUI);

                            // Set CSS for the control interior.
                            var controlText = document.createElement('div');
                            controlText.style.color = 'rgb(25,25,25)';
                            controlText.style.fontFamily = 'Roboto,Arial,sans-serif';
                            controlText.style.fontSize = '100%';
                            controlText.style.padding = '6px';
                            controlText.textContent = 'The map shows all clicks made in the last 10 minutes.';
                            controlUI.appendChild(controlText);
                          }

                          /**
                          * Starting point for running the program. Authenticates the user.
                          * @param {function()} onAuthSuccess - Called when authentication succeeds.
                          */
                          function initAuthentication(onAuthSuccess) {
                            firebase.authAnonymously(function(error, authData) {
                              if (error) {
                                console.log('Login Failed!', error);
                              } else {
                                data.sender = authData.uid;
                                onAuthSuccess();
                              }
                            }, {remember: 'sessionOnly'});  // Users will get a new id for every session.
                          }

                          /**
                           * Creates a map object with a click listener and a heatmap.
                           */
                          function initMap() {
                            var map = new google.maps.Map(document.getElementById('map'), {
                              center: {lat: 0, lng: 0},
                              zoom: 3,
                              styles: [{
                                featureType: 'poi',
                                stylers: [{ visibility: 'off' }]  // Turn off POI.
                              },
                              {
                                featureType: 'transit.station',
                                stylers: [{ visibility: 'off' }]  // Turn off bus, train stations etc.
                              }],
                              disableDoubleClickZoom: true,
                              streetViewControl: false,
                            });

                            // Create the DIV to hold the control and call the makeInfoBox() constructor
                            // passing in this DIV.
                            var infoBoxDiv = document.createElement('div');
                            makeInfoBox(infoBoxDiv, map);
                            map.controls[google.maps.ControlPosition.TOP_CENTER].push(infoBoxDiv);

                            // Listen for clicks and add the location of the click to firebase.
                            map.addListener('click', function(e) {
                              data.lat = e.latLng.lat();
                              data.lng = e.latLng.lng();
                              addToFirebase(data);

                              var marker = new google.maps.Marker({
                                position: {
                                  lat: e.latLng.lat(),
                                  lng: e.latLng.lng()
                                },
                                map: map
                              });
                            });

                            // Create a heatmap.

                            initAuthentication(initFirebase.bind(undefined, map));
                          }

                          /**
                           * Set up a Firebase with deletion on clicks older than expirySeconds
                           * @param {!google.maps.visualization.HeatmapLayer} heatmap The heatmap to
                           * which points are added from Firebase.
                           */
                          function initFirebase(map) {

                            // 10 minutes before current time.
                            var startTime = new Date().getTime() - (60 * 10 * 1000);

                            // Reference to the clicks in Firebase.
                            var clicks = firebase.child('clicks');

                            // Listener for when a click is added.
                            clicks.orderByChild('timestamp').startAt(startTime).on('child_added',
                              function(snapshot) {

                                // Get that click from firebase.
                                var newPosition = snapshot.val();
                                var point = new google.maps.LatLng(newPosition.lat, newPosition.lng);
                                var elapsed = new Date().getTime() - newPosition.timestamp;

                                // Add the point to  the heatmap.
                                map.getData().push(point);

                                // Requests entries older than expiry time (10 minutes).
                                var expirySeconds = Math.max(60 * 10 * 1000 - elapsed, 0);
                                // Set client timeout to remove the point after a certain time.
                                window.setTimeout(function() {
                                  // Delete the old point from the database.
                                  snapshot.ref().remove();
                                }, expirySeconds);
                              }
                            );

                            // Remove old data from the heatmap when a point is removed from firebase.
                            clicks.on('child_removed', function(snapshot, prevChildKey) {
                              var mapData = map.getData();
                              var i = 0;
                              while (snapshot.val().lat != mapData.getAt(i).lat()
                                || snapshot.val().lng != mapData.getAt(i).lng()) {
                                i++;
                              }
                              mapData.removeAt(i);
                            });
                          }

                          /**
                           * Updates the last_message/ path with the current timestamp.
                           * @param {function(Date)} addClick After the last message timestamp has been updated,
                           *     this function is called with the current timestamp to add the
                           *     click to the firebase.
                           */
                          function getTimestamp(addClick) {
                            // Reference to location for saving the last click time.
                            var ref = firebase.child('last_message/' + data.sender);

                            ref.onDisconnect().remove();  // Delete reference from firebase on disconnect.

                            // Set value to timestamp.
                            ref.set(Firebase.ServerValue.TIMESTAMP, function(err) {
                              if (err) {  // Write to last message was unsuccessful.
                                console.log(err);
                              } else {  // Write to last message was successful.
                                ref.once('value', function(snap) {
                                  addClick(snap.val());  // Add click with same timestamp.
                                }, function(err) {
                                  console.warn(err);
                                });
                              }
                            });
                          }

                          /**
                           * Adds a click to firebase.
                           * @param {Object} data The data to be added to firebase.
                           *     It contains the lat, lng, sender and timestamp.
                           */
                          function addToFirebase(data) {
                            getTimestamp(function(timestamp) {
                              // Add the new timestamp to the record data.
                              data.timestamp = timestamp;
                              var ref = firebase.child('clicks').push(data, function(err) {
                                if (err) {  // Data was not written to firebase.
                                  console.warn(err);
                                }
                              });
                            });
                          }
                        </script>
                        <script async defer
                            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAHaNWECttwhCz2huhgmSpx61P17EVtHKE&libraries=visualization&callback=initMap">
                        </script>
                    </div>
                </div>
            </div>
            <!-- /. PAGE INNER  -->
        </div>
        <!-- /. PAGE WRAPPER  -->

    </div>

    <!-- Footer -->
    <div class="footer">

        <div class="row">
            <div class="col-lg-12">
                &copy; Water Reporter Services Group
            </div>
        </div>
    </div>

</body>
</html>